
<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row py-5">
    <div class="col-md-4 col-sm-12 img-container">
      <a routerLink="/floors">
        <img (click)="onClick('A')" src="./assets/building1.jpeg" class="img-fluid" alt="First Image">
      </a>
      <div class="sign">
        <p>A</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 img-container">
      <a routerLink="/floors">
        <img (click)="onClick('B')" src="./assets/building2.jpeg" class="img-fluid" alt="Second Image">
      </a>
      <div class="sign">
        <p>B</p>
      </div>
    </div>
    <div  class="col-md-4 col-sm-12 img-container">
      <a routerLink="/floors">
        <img (click)="onClick('C')" src="./assets/building3.jpeg" class="img-fluid" alt="Third Image">
      </a>
      <div class="sign">
        <p>C</p>
      </div>
    </div>
  </div>
</div>
</body>
