
<div class="slider">
<!--    <input type="radio" name="testimonial" id="t-1" checked>-->
<!--    <input type="radio" name="testimonial" id="t-2">-->
<!--    <input type="radio" name="testimonial" id="t-3">-->
<!--    <input type="radio" name="testimonial" id="t-4">-->
<!--    <input type="radio" name="testimonial" id="t-5">-->
<!--    <input type="radio" name="testimonial" id="t-6">-->
<!--    <input type="radio" name="testimonial" id="t-7">-->
<!--    <input type="radio" name="testimonial" id="t-8">-->
<!--    <input type="radio" name="testimonial" id="t-9">-->
    <div *ngFor="let floor of floors" class="testimonials">
        <label class="item">
            <div class="info-disponible">
                <div class="kati-info-container">
                    <div class="kati">Kati {{floor.kati}}</div>
                    <div *ngIf="floor.apartamenteFree==0" class="kati-info">Out of rooms</div>
                </div>
                <div class="disponible">
                    <p>{{floor.apartamenteFree}}/21</p>
                </div>
            </div>


            <button (click)="openFloor(building, floor.kati)" class="button-88" role="button">Button 88</button>

        </label>
<!--        <label class="item" for="t-2">-->
<!--            <div class="disponible">-->
<!--                <p>6/20</p>-->
<!--            </div>-->
<!--            <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua,-->
<!--                retro synth master cleanse."</p>-->
<!--            <h2>- Princy, Web Developer</h2>-->
<!--        </label>-->
<!--        <label class="item" for="t-3">-->
<!--            <div class="disponible">-->
<!--                <p>6/20</p>-->
<!--            </div>-->
<!--            <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua,-->
<!--                retro synth master cleanse."</p>-->
<!--            <h2>- Princy, Web Developer</h2>-->
<!--        </label>-->
<!--        <label class="item" for="t-4">-->
<!--            <div class="disponible">-->
<!--                <p>6/20</p>-->
<!--            </div>-->
<!--            <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua,-->
<!--                retro synth master cleanse."</p>-->
<!--            <h2>- Princy, Web Developer</h2>-->
<!--        </label>-->
<!--        <label class="item" for="t-5">-->
<!--            <div class="disponible">-->
<!--                <p>6/20</p>-->
<!--            </div>-->
<!--            <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua,-->
<!--                retro synth master cleanse."</p>-->
<!--            <h2>- Princy, Web Developer</h2>-->
<!--        </label>-->
<!--        <label class="item" for="t-6">-->
<!--            <div class="disponible">-->
<!--                <p>6/20</p>-->
<!--            </div>-->
<!--            <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua,-->
<!--                retro synth master cleanse."</p>-->
<!--            <h2>- Princy, Web Developer</h2>-->
<!--        </label>-->
<!--        <label class="item" for="t-7">-->
<!--            <div class="disponible">-->
<!--                <p>6/20</p>-->
<!--            </div>-->
<!--            <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua,-->
<!--                retro synth master cleanse."</p>-->
<!--            <h2>- Princy, Web Developer</h2>-->
<!--        </label>-->
<!--        <label class="item" for="t-8">-->
<!--            <div class="disponible">-->
<!--                <p>6/20</p>-->
<!--            </div>-->
<!--            <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua,-->
<!--                retro synth master cleanse."</p>-->
<!--            <h2>- Princy, Web Developer</h2>-->
<!--        </label>-->
<!--        <label class="item" for="t-9">-->
<!--            <div class="disponible">-->
<!--                <p>6/20</p>-->
<!--            </div>-->
<!--            <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua,-->
<!--                retro synth master cleanse."</p>-->
<!--            <h2>- Princy, Web Developer</h2>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="dots">-->
<!--        <label for="t-1"></label>-->
<!--        <label for="t-2"></label>-->
<!--        <label for="t-3"></label>-->
<!--        <label for="t-4"></label>-->
<!--        <label for="t-5"></label>-->
<!--        <label for="t-6"></label>-->
<!--        <label for="t-7"></label>-->
<!--        <label for="t-8"></label>-->
<!--        <label for="t-9"></label>-->
    </div>
</div>



