
<body>
<nav style="padding-left: 0; padding-top: 0; padding-right: 0">
    <img
            src="/images/007-students-apartment-timur-sharipov _ HomeAdore.jpeg"
            alt=""
    />
    <ul>
        <li><a href="../html/travel.html">Home</a></li>
        <li><a href="../html/locations.html">Locations</a></li>
        <li><a href="../html/about.html">About Us</a></li>
        <li>
            <a class="active" href="../html/packages.html">Tour packages</a>
        </li>
        <a href="../html/contact.html"
        ><button class="contact-button" type="button">CONTACT</button></a
        >
    </ul>
    <label id="icon">
        <i class="fa-solid fa-bars"></i>
    </label>
</nav>

<section class="packages-area">
    <div class="container">
        <div class="row">
            <div class="menu-content px-5">
                <div class="title-p">
                    <h1 class="mb-10">Rooms</h1>
                </div>
            </div>
        </div>
        <div class="packages-p">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 px-3 mt-3">
                        <div class="single-destination">
                            <div class="thumb-p">
                                <img
                                        src="images/download.jpeg"
                                        alt=""
                                        class="destination-image"
                                />
                            </div>
                            <div class="details-p">
                                <h4 class="destination-title">The Azores</h4>
                                <p class="destination-location">Portugal</p>
                                <ul class="package-info">
                                    <li>
                                        <span class="info-label">Duration</span>
                                        <span class="info-value">5 days and 6 nights</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Date</span>
                                        <span class="info-value">18.08.2023</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Airport</span>
                                        <span class="info-value">Tirana</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Extras</span>
                                        <span class="info-value">All Inclusive</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Price per person</span>
                                        <span class="info-value">1150$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 px-3 mt-3">
                        <div class="single-destination">
                            <div class="thumb-p">
                                <img
                                        src="images/1-86.jpg"
                                        alt=""
                                        class="destination-image"
                                />
                            </div>
                            <div class="details-p">
                                <h4 class="destination-title">Antarctica</h4>
                                <p class="destination-location">Antarctica</p>
                                <ul class="package-info">
                                    <li>
                                        <span class="info-label">Duration</span>
                                        <span class="info-value">6 days and 7 nights</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Date</span>
                                        <span class="info-value">20.09.2023</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Airport</span>
                                        <span class="info-value">Vlora</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Extras</span>
                                        <span class="info-value">All Inclusive</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Price per person</span>
                                        <span class="info-value">2500$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 px-3 mt-3">
                        <div class="single-destination">
                            <div class="thumb-p">
                                <img
                                        src="images/1b5948f2-1584-4152-950a-c68d012287e2.jpeg"
                                        alt=""
                                        class="destination-image"
                                />
                            </div>
                            <div class="details-p">
                                <h4 class="destination-title">Cappadocia</h4>
                                <p class="destination-location">Turkey</p>
                                <ul class="package-info">
                                    <li>
                                        <span class="info-label">Duration</span>
                                        <span class="info-value">3 days and 4 nights</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Date</span>
                                        <span class="info-value">27.07.2023</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Airport</span>
                                        <span class="info-value">Tirana</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Extras</span>
                                        <span class="info-value">All Inclusive</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Price per person</span>
                                        <span class="info-value">600$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 px-3 mt-3">
                        <div class="single-destination">
                            <div class="thumb-p">
                                <img
                                        src="images/429930107.jpg"
                                        alt=""
                                        class="destination-image"
                                />
                            </div>
                            <div class="details-p">
                                <h4 class="destination-title">Capri</h4>
                                <p class="destination-location">Italy</p>
                                <ul class="package-info">
                                    <li>
                                        <span class="info-label">Duration</span>
                                        <span class="info-value">7 days and 6 nights</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Date</span>
                                        <span class="info-value">18.09.2023</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Airport</span>
                                        <span class="info-value">Shkoder</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Extras</span>
                                        <span class="info-value">All Inclusive</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Price per person</span>
                                        <span class="info-value">1300$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 px-3 mt-3">
                        <div class="single-destination">
                            <div class="thumb-p">
                                <img
                                        src="images/429930225.jpg"
                                        alt=""
                                        class="destination-image"
                                />
                            </div>
                            <div class="details-p">
                                <h4 class="destination-title">Copacabana</h4>
                                <p class="destination-location">Rio de Janiero, Brasil</p>
                                <ul class="package-info">
                                    <li>
                                        <span class="info-label">Duration</span>
                                        <span class="info-value">6 days and 7 nights</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Date</span>
                                        <span class="info-value">23.11.2023</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Airport</span>
                                        <span class="info-value">Korcë</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Extras</span>
                                        <span class="info-value">All Inclusive</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Price per person</span>
                                        <span class="info-value">2300$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 px-3 mt-3">
                        <div class="single-destination">
                            <div class="thumb-p">
                                <img
                                        src="images/434373717.jpg"
                                        alt=""
                                        class="destination-image"
                                />
                            </div>
                            <div class="details-p">
                                <h4 class="destination-title">Galapos Islands</h4>
                                <p class="destination-location">Ecuador</p>
                                <ul class="package-info">
                                    <li>
                                        <span class="info-label">Duration</span>
                                        <span class="info-value">7 days and 8 nights</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Date</span>
                                        <span class="info-value">24.10.2023</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Airport</span>
                                        <span class="info-value">Dukagjin</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Extras</span>
                                        <span class="info-value">All Inclusive</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Price per person</span>
                                        <span class="info-value">2300$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 px-3 mt-3">
                        <div class="single-destination">
                            <div class="thumb-p">
                                <img
                                        src="images/434381604.jpg"
                                        alt=""
                                        class="destination-image"
                                />
                            </div>
                            <div class="details-p">
                                <h4 class="destination-title">Kilimanjaro</h4>
                                <p class="destination-location">Tanzania</p>
                                <ul class="package-info">
                                    <li>
                                        <span class="info-label">Duration</span>
                                        <span class="info-value">6 days and 7 nights</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Date</span>
                                        <span class="info-value">18.09.2023</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Airport</span>
                                        <span class="info-value">Durres</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Extras</span>
                                        <span class="info-value">All Inclusive</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Price per person</span>
                                        <span class="info-value">2500$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 px-3 mt-3">
                        <div class="single-destination">
                            <div class="thumb-p">
                                <img
                                        src="images/A Cozy Flat in Odessa Designed for a Student by Fateeva Design.jpeg"
                                        alt=""
                                        class="destination-image"
                                />
                            </div>
                            <div class="details-p">
                                <h4 class="destination-title">Na Pali Coast</h4>
                                <p class="destination-location">Kauai</p>
                                <ul class="package-info">
                                    <li>
                                        <span class="info-label">Duration</span>
                                        <span class="info-value">12 days and 13 nights</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Date</span>
                                        <span class="info-value">19.11.2023</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Airport</span>
                                        <span class="info-value">Tirana</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Extras</span>
                                        <span class="info-value">All Inclusive</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Price per person</span>
                                        <span class="info-value">8500$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 px-3 mt-3">
                        <div class="single-destination">
                            <div class="thumb-p">
                                <img
                                        src="images/Best Student Accommodation & Housing Exeter _ Student Studios, Flats & Halls _ UniAcco.jpeg"
                                        alt=""
                                        class="destination-image"
                                />
                            </div>
                            <div class="details-p">
                                <h4 class="destination-title">Benguerra Island</h4>
                                <p class="destination-location">Mozambique</p>
                                <ul class="package-info">
                                    <li>
                                        <span class="info-label">Duration</span>
                                        <span class="info-value">30 days and 29 nights</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Date</span>
                                        <span class="info-value">12.08.2023</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Airport</span>
                                        <span class="info-value">Tirana</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Extras</span>
                                        <span class="info-value">All Inclusive</span>
                                    </li>
                                    <li>
                                        <span class="info-label">Price per person</span>
                                        <span class="info-value">12500$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

